<!doctype html>
<html lang="zh-CN">
<head>
    <!-- 设置文档字符编码 -->
    <meta charset="utf-8">
    <!-- 告诉IE浏览器，IE8/9及以后的版本都会以最高版本IE来渲染页面 -->
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <!-- 指定页面初始缩放比例 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- 隐藏发送请求时请求头表示来源的referrer字段 -->
    <meta name="referrer" content="no-referrer" />
    <script type="text/javascript">
        // auth sso get code and redirect
        var search = window.location.search, key = 'code';
        var reg = new RegExp('(^|&)' + key + '=([^&]*)(&|$)', 'i');
        var r = search.substr(1).match(reg);
        var code = r ? r[2] : void 0;
        if(code && typeof code === 'string'){
            sessionStorage.setItem('AUTH_CODE', code);
            url = location.href.replace( key + '=' + code, '');
            url = url.replace(/\?[#/]{0,}$/, '');
            url = url.replace(/&[#/]{0,}$/, '');
            window.location.replace(url);
        }
    </script>
</head>
<body>
    <div id="root"></div>
</body>
</html>
